<div class="min-h-screen flex flex-col">
  <!-- Fixed Navbar at the Top -->
  <nav class="fixed top-0 left-0 w-full bg-white shadow ">
    <div class="container mx-auto p-4">
      <ul class="flex justify-center space-x-40">
        <li>
          <a routerLink="/workout-form" routerLinkActive="active" class="text-black text-2xl hover:text-gray-300">FORM</a>
        </li>
        <li>
          <a routerLink="/workout-list" routerLinkActive="active" class="text-black text-2xl hover:text-gray-300">LIST</a>
        </li>
        <li>
          <a routerLink="/workout-graph" routerLinkActive="active" class="text-black text-2xl hover:text-gray-300">GRAPH</a>
        </li>
      </ul>
    </div>
  </nav>

  <!-- Centered Component with 1200px max width -->
  <div class="flex-grow flex items-center justify-center mt-16">
    <div class="w-full max-w-[1200px]">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
